* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 20px 50px 20px 200px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 20px 200px 20px 0px;
  padding: 0;
  gap: 20px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  padding: 8px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 100px 200px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  padding: 10px;
  border-radius: 15px;
  width: 200px;
}

.hero-img {
  width: 500px;
  height: 200px;
  background-color: grey;
  margin: 0 0 0 50px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 200px 100px;
  gap: 30px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.info-subtext {
  font-size: 18px;
  color: #707174f0;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.info img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 125px;
  height: 125px;
}
